body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #fff;
    padding: 20px;
    text-align: center;
    color: #333;
    border-bottom: 1px solid #ddd;
}

nav {
    background-color: #f5f5f5;
    padding: 10px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #666;
}

section {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
    section {
        margin: 20px 7%;
    }
}


h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 15px;
}

th {
    background-color: #f5f5f5;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

form input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #666;
}

footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.team-member {
    display: inline-block;
    margin: 20px;
}

.team-member img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.team-member img:hover {
    transform: scale(1.1);
}

.team-member h3, .team-member p {
    margin: 0;
}

#index img {
    width: 50%;
    max-width: 450px; 
    max-height: 612px; 
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    align-self: center;
}

#index h2 {
    text-align: center;
}

#team {
    text-align: center;
}

.team-member {
    display: inline-block;
    margin: 20px;
}

.table-responsive {
    overflow-x: auto;
}