@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar {
    flex: 1;
    background-color: #2c3e50;
    color: #fff;
    padding: 30px;
    position: sticky;
    top: 0;
    text-align: left;
    line-height: 1.8;
}

.container {
    display: flex;
    width: 100%; /* Ensures the content takes the full width without gaps */
    max-width: 100%; /* Allows the content to expand to the edge of the screen */
    min-height: 100%; /* Ensure container takes at least full viewport height */
}

.content {
    flex: 3;
    padding: 40px;
    background: #ffffff;
    overflow: auto;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding-left: 20px;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: #bdc3c7;
    text-decoration: none;
    font-weight: 400;
}

.sidebar ul li a:hover {
    color: #ecf0f1;
}

.content {
    flex: 3;
    padding: 40px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: auto;
    display: flex; /* Add flex property */
    flex-direction: column; /* Arrange children vertically */
}

.content h2, .content h3 {
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 20px;
}

.prev, .next {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: #2980b9;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.prev:hover, .next:hover {
    background-color: #3498db;
    transform: translateY(-3px);
}

.content ul {
    padding-left: 40px;
    margin-bottom: 20px;
}

.sidebar > ul > li:last-child a {
    background-color: rgb(78, 156, 117);
    padding: 10px 15px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    transition: background-color 0.3s ease;
}

.sidebar > ul > li:last-child a:hover {
    background-color: rgb(76, 119, 95);
}

pre, code {
    padding: 10px;
    background: #f5f5f5;
    border-radius: 8px;
    overflow: auto;
    width: auto;
    line-height: 1.45;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.elm {
    display: flex;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f8f8f8;
}

.dropdown {
    cursor: pointer;
    user-select: none;
    position: relative;
}

.dropdown-toggle {
    padding: 8px 16px;
}

.dropdown-toggle:hover {
    background-color: #89949e;
    color: #ffffff;
}

.dropdown-menu {
    display: none;
    list-style: none;
    padding-left: 20px;
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #7f8c8d;
}

.open .arrow {
    border-top: none;
    border-bottom: 5px solid #7f8c8d;
}

.sidebar ul li a,
.dropdown-menu a {
    color: #bdc3c7;
    text-decoration: none;
    padding: 8px 16px; /* Adding padding to create a highlight effect */
    display: block; /* Display block to occupy the full width */
}

.sidebar ul li a:hover,
.dropdown-menu a:hover {
    background-color: #89949e;
    color: #ffffff;
}

.dropdown-menu {
    background-color: #2c3e50; /* Consistent background color with the sidebar */
}

/* Location Section */
#location {
    margin-bottom: 40px;
}

.map-container iframe {
    width: 100%;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Contribution Form Section */
#contribution-form {
    margin-bottom: 10%;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-field {
    flex: 0 0 48%; /* Slightly less than 50% to leave a gap between the fields */
    margin-bottom: 20px;
    position: relative;
}

.form-field label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
}

.form-field input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #3498db; /* New color for the submit button */
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    float: right; /* Aligns the submit button to the right */
}

input[type="submit"]:hover {
    background-color: #2980b9; /* Adjusted hover color to match new base color */
}

/* Navigation Buttons */
.navigation {
    display: flex;
    justify-content: space-between;
}

html, body {
    height:max-content; /* Set full height for html and body */
}

/* Adding flex-grow property to the main content div to ensure it takes up all available space */
#location, #contribution-form, .navigation {
    flex-grow: 1;
}
